## Session09(Tuple)

In [3]:
# []
# {} ==> key, value
# ()
tuple1 = (2, 3, 12, 12, 19)
tuple2 = (2, 3.3, True, "python", 19)
print(type(tuple1))
tuple2

<class 'tuple'>

(2, 3.3, True, 'python', 19)

In [4]:
# length ===> len()
tuple2 = (2, 3.3, True, "python", 19)
print(len(tuple2))

5

In [7]:
t1 = ()
t2 = tuple()
print(len(t2))
print(type(t2))

0
<class 'tuple'>

In [11]:
t1 = (20.8,)
print(type(t1))

<class 'tuple'>

## Access

In [15]:
tuple2 = (2, 3.3, True, "python", 19)
print(tuple2)
print(tuple2[-1])
print(tuple2[:4:2])

(2, 3.3, True, 'python', 19)
19
(2, True)

## add, edit, remove

In [21]:
tuple2 = (2, 3.3, True, "python", 19)
# list()
# Modify
tuple2 = list(tuple2)
# add
tuple2.append(100)
tuple2.insert(1, 300)
# Modify
tuple2 = tuple(tuple2)
tuple2

(2, 300, 3.3, True, 'python', 19, 100)

In [31]:
tuple2 = (2, 3.3, True, "python", 19)
t1 = (100,)
tuple2 = tuple2 + t1
tuple2

(2, 3.3, True, 'python', 19, 100)

In [22]:
tuple2 = (2, 3.3, True, "python", 19)
# list()
# Modify
tuple2 = list(tuple2)
# edit
tuple2[2] = 800
# Modify
tuple2 = tuple(tuple2)
tuple2

(2, 3.3, 800, 'python', 19)

In [23]:
tuple2 = (2, 3.3, True, "python", 19)
# list()
# Modify
tuple2 = list(tuple2)
# remove
tuple2.remove(3.3)
tuple2.pop()
# Modify
tuple2 = tuple(tuple2)
tuple2

(2, True, 'python')

## Search

In [26]:
t1 = ("+", "*", "/", "-")
# in, not in
if "+" in t1:
    print("yes")

yes

## function

In [24]:
def avg(x, y, z):
    sum1 = x + y + z
    res = sum1 / 3
    return sum1, res

In [25]:
avg(2, 3, 5)
# +, *, / , -
t1 = ("+", "*", "/", "-")

(10, 3.3333333333333335)

## methods

In [28]:
t1 = (1, 3, 1, 2, 1, 4, 3)
t1.count(1)
t1.index(3)

1

## for

In [29]:
for x in t1:
    print(x)

1
3
1
2
1
4
3

## join

In [30]:
t1 = (2, 3, 4, 5)
t2 = ("a", "b", "c")
t1 + t2

(2, 3, 4, 5, 'a', 'b', 'c')

In [44]:
# map, zip
names = ("a1", "a2", "a3")
ages = (12, 17, 18, 20)
scores = (18.3, 16, 10)
l1 = list(zip(names, ages, scores))
l1

[('a1', 12, 18.3), ('a2', 17, 16), ('a3', 18, 10)]

In [40]:
for n, a, s in l1:
    print(n, a, s+2)

('a1', 12, 18.3)
('a2', 17, 16)
('a3', 18, 10)

In [58]:
first, *middle, last = 10, 20, 30, 50, 70
print(type(first))
print(type(middle))

<class 'int'>
<class 'list'>

In [54]:
a = 2, 3, 10
a

(2, 3, 10)

## namedtuple

In [59]:
from collections import namedtuple

In [61]:
student = namedtuple("student", "name scores")

In [67]:
list1 = []
for i in range(5):
    name = input()
    score = input() # 2, 3, 2
    score = map(int, score.split())
    s1 = student(name, score)
    list1.append(s1)
list1

[student(name='a', scores=[2, 3, 1]),
 student(name='f', scores=[2, 3, 1]),
 student(name='w', scores=[2, 3, 1]),
 student(name='e', scores=[2, 3, 1]),
 student(name='r', scores=[2, 3, 1])]