### Session_08 Dictionary

In [16]:
# item ====> "name": "ali"
# key ===> "name"
# value ===> "ali"
student = {
            "name": "ali", 
            "last_name": "Ara", 
            "score": 19.2, 
            "class": "c1"
        }

## read

In [17]:
print(student)

{'name': 'ali', 'last_name': 'Ara', 'score': 19.2, 'class': 'c1'}

In [6]:
print(student["name"])

ali

In [18]:
print(student.get("last_name"))

Ara

## add

In [8]:
student["stu_num"] = "s1234"
student["stu_class"] = "s1234"

In [9]:
student

{'name': 'ali',
 'last_name': 'Ara',
 'score': 19.2,
 'class': 'c1',
 'stu_num': 's1234'}

In [10]:
student.update({"email":"z.g@gmail.com"})

In [11]:
student

{'name': 'ali',
 'last_name': 'Ara',
 'score': 19.2,
 'class': 'c1',
 'stu_num': 's1234',
 'email': 'z.g@gmail.com'}

In [12]:
student.update({"teacher name":"aaaa", "school":"s1"})

In [13]:
student

{'name': 'ali',
 'last_name': 'Ara',
 'score': 19.2,
 'class': 'c1',
 'stu_num': 's1234',
 'email': 'z.g@gmail.com',
 'teacher name': 'aaaa',
 'school': 's1'}

In [14]:
student["teacher name"]

'aaaa'

## edit

In [19]:
student = {
            "name": "ali", 
            "last_name": "Ara", 
            "score": 19.2, 
            "class": "c1"
        }

In [20]:
student["score"] = 18

In [22]:
student.update({"score":15, "name": "sdf"})

In [23]:
student

{'name': 'sdf', 'last_name': 'Ara', 'score': 15, 'class': 'c1'}

## remove

In [51]:
student = {
            "name": "ali", 
            "last_name": "Ara", 
            "score": 19.2, 
            "class": "c1"
        }

In [53]:
first_key = next(iter(student))
student.pop(first_key)

'ali'

In [54]:
student

{'last_name': 'Ara', 'score': 19.2, 'class': 'c1'}

In [50]:
student

{'name': 'ali', 'last_name': 'Ara', 'score': 19.2, 'class': 'c1'}

In [25]:
student.pop("name")

'ali'

In [27]:
student.popitem()

('class', 'c1')

In [28]:
student

{'last_name': 'Ara', 'score': 19.2}

In [29]:
del student["last_name"]

In [30]:
student

{'score': 19.2}

In [31]:
student.clear()

In [32]:
student

{}

In [33]:
del student

In [34]:
student

NameError: name 'student' is not defined

In [41]:
book = {
    1000: "data mining",
    60: True
}

In [43]:
book[60]

True

In [55]:
student = {
            "name": "ali", 
            "last_name": "Ara", 
            "score": 19.2, 
            "class": "c1"
        }

In [58]:
list(student.keys())

['name', 'last_name', 'score', 'class']

In [59]:
list(student.values())

['ali', 'Ara', 19.2, 'c1']

In [77]:
l1 = list(student.items())
if ("name" , "ali") in l1:
    print("yes")

yes

In [61]:
for i in student.keys():
    print(i)

name
last_name
score
class

In [64]:
for x, y in student.items():
    print(x, y)

name ali
last_name Ara
score 19.2
class c1

In [62]:
for i in student.values():
    print(i)

ali
Ara
19.2
c1

In [73]:
student = {
            "name": "ali", 
            "last_name": "Ara", 
            "scores": [12, 16, 16, 19.3, 17], 
            "class": {"c1": 2, "c2": 4}
        }

In [74]:
student

{'name': 'ali',
 'last_name': 'Ara',
 'scores': [12, 16, 16, 19.3, 17],
 'class': {'c1': 2, 'c2': 4}}

In [70]:
avg = sum(student["scores"]) / len(student["scores"])
avg

16.06

In [79]:
student["scores"][3]

19.3

In [71]:
student["avg"] = avg

In [72]:
student

{'name': 'ali',
 'last_name': 'Ara',
 'scores': [12, 16, 16, 19.3, 17],
 'class': 'c1',
 'avg': 16.06}

## Examples

In [84]:
student1 = {
            "name": "ali", 
            "last_name": "Ara", 
            "scores": [12, 16, 16, 19.3, 17], 
            "class": "c1"
        }
student2 = {
            "name": "ali", 
            "last_name": "Ara", 
            "scores": [12, 16, 16, 19.3, 17], 
            "class": "c1"
        }

In [85]:
list1 = [student1, student2]
list1

[{'name': 'ali',
  'last_name': 'Ara',
  'scores': [12, 16, 16, 19.3, 17],
  'class': 'c1'},
 {'name': 'ali',
  'last_name': 'Ara',
  'scores': [12, 16, 16, 19.3, 17],
  'class': 'c1'}]

In [86]:
list1[0]

{'name': 'ali',
 'last_name': 'Ara',
 'scores': [12, 16, 16, 19.3, 17],
 'class': 'c1'}

In [87]:
students = []
num = 2
for i in range(num):
    name = input("name: ")
    score = float(input("score: "))
    class_ = input("class: ")
    student = {}
    student["name"] = name
    student["score"] = score
    student["class"] = class_
    #student.update({"name": name, "score": score, "class": class_})
    students.append(student)

In [88]:
students

[{'name': 'a', 'score': 12.0, 'class': 'as'},
 {'name': 'gh', 'score': 19.0, 'class': 'c3'}]

In [90]:
students[1]["score"]

19.0

In [91]:
dic_students = {}
num = 2
for i in range(num):
    stu_num = input("student number: ")
    name = input("name: ")
    score = float(input("score: "))
    class_ = input("class: ")
    student = {}
    student["name"] = name
    student["score"] = score
    student["class"] = class_
    dic_students[stu_num] = student

In [92]:
dic_students

{'123': {'name': 'h', 'score': 12.0, 'class': 'c1'},
 's12': {'name': 'j', 'score': 18.0, 'class': 'c3'}}

In [106]:
stu_num = input()
if stu_num in dic_students.keys():
    print(dic_students[stu_num])
else:
    print("not found")

{'name': 'j', 'score': 18.0, 'class': 'c3'}