# Hands-On Prerequisite Python in AI
## Exersise 05

## Question01

#### Based on the lists below, answer the questions
#### my_list = [2, 15, 0,”python”, 4.6,”java”,90, 10]

In [1]:
my_list = [2, 15, 0,"python", 4.6,"java",90, 10]

##### 1. Print first and last items of the list

In [2]:
# first
my_list[0]

2

In [3]:
# last
my_list[-1]

10

#### 2.Remove first and last items of the list

In [4]:
# remove first itemt
my_list.pop(0)

2

In [5]:
my_list

[15, 0, 'python', 4.6, 'java', 90, 10]

In [6]:
# remove last itemt
my_list.pop()

10

In [7]:
my_list

[15, 0, 'python', 4.6, 'java', 90]

#### 3.Remove 90 and 300 from the list

In [8]:
my_list.remove(90)

In [9]:
my_list

[15, 0, 'python', 4.6, 'java']

In [11]:
if 300 in my_list:
    my_list.remove(300)
else:
    print("not found")

not found

In [12]:
my_list

[15, 0, 'python', 4.6, 'java']

#### 4.Add 5 between 15 and 0

In [13]:
my_list.insert(1, 5)

In [14]:
my_list

[15, 5, 0, 'python', 4.6, 'java']

#### 5.Edit “Js” with “python”

In [16]:
my_list[3] = "Js"

In [17]:
my_list

[15, 5, 0, 'Js', 4.6, 'java']

In [18]:
i = my_list.index("Js")
my_list[i] = "python"

In [19]:
my_list

[15, 5, 0, 'python', 4.6, 'java']

#### 6.Add 50 at the end of the list

In [20]:
my_list.append(50)
my_list

[15, 5, 0, 'python', 4.6, 'java', 50]

#### 7.Search for 0 in the list and if it is in the list print "yes" else print "no“

In [23]:
num = 0
# in, not in
if num in my_list:
    print("yes")
else:
    print("no")

yes

## Question02

#### Get a string in one of the following forms from the input and display the expected result.

### input: 3 + 2 = ?  ====> output: 3 + 2 = 5

In [30]:
# +, -, *, /
word = input("Please enter your word: ")
words = word.split()
num1 = int(words[0])
num2 = int(words[2])
if words[1] in ["+", "-", "/", "*"]:
    if words[1] == "+":
        res1 = num1 + num2
    elif words[1] == "-":
        res1 = num1 - num2
    elif words[1] == "/":
        if num2 == 0:
            res1 = "Error"
        else:
            res1 = num1 / num2
    else:
        res1 = num1 * num2
    print(f"{num1} {words[1]} {num2} = {res1}")
else:
    print(f"{words[1]}: not found")

Please enter your word: 3 . 2 = ?
.: not found

## Question03

#### Based on the two lists below, make a third list that includes the data that is in the first list and not in the second list.

### List1 = [ 12, 2, 34, 10, 4, 18, 10]
### List2 = [12, 100, 10, 4, 5, 50]

In [31]:
list1 = [ 12, 2, 34, 10, 4, 18, 10]
list2 = [12, 100, 10, 4, 5, 50]

In [32]:
list3 = []
for i in list1:
    if i not in list2:
        list3.append(i)
list3

[2, 34, 18]

In [33]:
list4 = [i for i in list1 if i not in list2]
list4

[2, 34, 18]

## Question04

#### Display the minimum, maximum, sum, average, length, and median for the list below.
#### Numbers = [10, 20, 20, 12, 30, 45, 2.4, 1.5]

In [50]:
numbers = [10, 20, 20, 12, 30, 45, 2.4, 1.5]

In [51]:
max1 = numbers[0]
min1 = numbers[0]
sum1 = 0
for i in numbers:
    sum1 += i
    if i > max1:
        max1 = i
    elif i < min1:
        min1 = i
l = len(numbers)
avg = sum1 / l
print(f"min: {min1}\n max: {max1}\n sum: {sum1}\nlength: {l}\n avg:{avg}")

min: 1.5
 max: 45
 sum: 140.9
length: 8
 avg:17.6125

In [52]:
numbers.sort()

In [53]:
numbers

[1.5, 2.4, 10, 12, 20, 20, 30, 45]

In [54]:
# length of list ===> 8 ===> 3, 4
# [1.5, 2.4, 10, 12, 20, 20, 30]===> 7 ===> 3, 7/ 2 ===> 3...., 3

In [55]:
l = len(numbers)
if l % 2 == 0:
    l = l // 2
    middl = numbers[l] + numbers[l-1]
    middl = middl / 2
else:
    l = l // 2
    middl = numbers[l]
print(middl)

16.0