# Install MySql
    1. sudo apt update
    2. sudo apt upgrade
    3. sudo apt install mysql-server
    4. mysql --version
    
    Password
    1. sudo mysql -u root
    2. USE mysql;
    3. ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'yourpass';
    
# Install Mysql.connector (Python Library)
    python -m pip install mysql-connector-python

# Import Library

In [1]:
import mysql.connector

# creating a connection

In [2]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "pass"
)

In [3]:
mycursor = mydb.cursor()

# Create new Dataset

In [5]:
sql = "CREATE DATABASE Shop"
mycursor.execute(sql)

# Show all Datasets

In [9]:
sql = "SHOW DATABASES"
mycursor.execute(sql)

In [10]:
mycursor.fetchall()

[('Company',),
 ('OnlineShop',),
 ('Online_Shop',),
 ('Shop',),
 ('Shop_Online',),
 ('company',),
 ('information_schema',),
 ('mydatabase',),
 ('mysql',),
 ('new_shop',),
 ('online_shop',),
 ('performance_schema',),
 ('phone_book',),
 ('python1',),
 ('sys',),
 ('university',)]

# Remove a Dataset

In [8]:
sql = "DROP DATABASE A1"
mycursor.execute(sql)

# Connecting to "Shop"

In [11]:
mydb = mysql.connector.connect(
    host = "localhost",
    user = "root",
    password = "pass",
    database = "Shop"
)

In [12]:
mycursor = mydb.cursor()

# Creating tables

In [16]:
sql = """
        CREATE TABLE Users(
        user_id int NOT NULL,
        first_name varchar(255),
        last_name varchar(255) NOT NULL,
        age int,
        PRIMARY KEY (user_id)
        );
    """

In [17]:
mycursor.execute(sql)

In [25]:
sql = """
        CREATE TABLE Orders(
        order_id int NOT NULL,
        name varchar(255) NOT NULL,
        price int,
        user_id int NOT NULL,
        PRIMARY KEY (order_id),
        FOREIGN KEY (user_id) REFERENCES Users (user_id)
        );
    """

In [26]:
mycursor.execute(sql)

# Show Tables

In [27]:
sql = "SHOW TABLES"
mycursor.execute(sql)

In [28]:
mycursor.fetchall()

[('Orders',), ('Users',)]

## DROP TABLE

In [22]:
sql = "DROP TABLE Orders"
mycursor.execute(sql)

# Insert data

In [39]:
sql = "INSERT INTO Users VALUES (2, 'ali', 'Ara', 41), (3, 'Sara', 'Ara', 15)"

In [40]:
mycursor.execute(sql)

In [41]:
mydb.commit()

# Select

In [47]:
sql = "SELECT * FROM Users WHERE first_name LIKE 'a%'"
mycursor.execute(sql)

In [48]:
mycursor.fetchall()

[(1, 'ali', 'Ara', 21), (2, 'ali', 'Ara', 41)]

# Remove data

In [49]:
sql = "DELETE FROM Users WHERE user_id = 2"
mycursor.execute(sql)

In [50]:
mydb.commit()

# Update data

In [52]:
sql = """
        UPDATE Users SET first_name = 'ALI2'
        WHERE user_id = 1
    """
mycursor.execute(sql)

In [53]:
mydb.commit()